body {
    background: black;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
}
#playerImg, #backgroundImg, #groundEnemyImg, #life, #coin, #cake, #startDiv{
    display: none;
}

#startDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#volumeImg{
    width: 30px;
    position: relative;
}

#container .audio {
    width: 200px;
    position: absolute;
    bottom: 2%;
    right: 17%;
    border: 1px white;

}

.button {
    color: red;
    font-size: 20px;
}
